* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  
  @include media($phone){
    font-size: calc(100vw / 1920 * 30);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}
